.btn-dark:hover {
    background-color: #284998 !important;
    border-color: #284998 !important;
}

.btn-light:hover{
    background-color: #91c5e5 !important;
    border-color: #91c5e5 !important;
}

.botaoFinalizar{
    background-color: #0097fb;
    color: white;
    padding: 13px;
    border-radius: 12px;
    font-family: sans-serif;
}

.botaoFinalizar:hover{
    background-color: #35aaf8;
}

.botaoTodosProdutos{
    border-color: #00D864;
    border-radius: 12px;
    border-width: 2px;
    padding: 13px;
    color: #00D864;
}

.botaoTodosProdutos:hover{
    background-color: #00D864;
    border-color: #00D864;
    color: white;
}