<footer class="bg-dark text-white pt-5 pb-4">
  <div class="container">
    <div class="row text-center text-md-start">

      <!-- Logo e Contato -->
      <div class="col-12 col-md-3 mb-4">
        <img src="assets/tito_logo.png" class="img-fluid mb-3" style="max-width: 200px;">
        <h6 class="fw-bold">ATENDIMENTO AO CLIENTE</h6>
        <p class="mb-1"><strong class="pe-2">E-mail:</strong>titomagazine&#64;gmail.com</p>
        <p class="mb-1"><strong class="pe-2">WhatsApp:</strong><a href="https://wa.me/message/WAXJ4EVATBPVE1">+55 21
            97038-5135</a></p>
        <p class="mb-1"><strong class="pe-2">Instagram:</strong><a
            href="https://www.instagram.com/titomagazineoficial?igsh=MXVhN3U5dXBwbHZweg==">&#64;titomagazineoficial</a>
        </p>
        <p class="mb-1"><strong class="pe-2">Facebook:</strong><a href="https://www.facebook.com/share/1AwzhFCSam/">Tito
            Magazine Oficial</a></p>
        <p class="mb-1"><strong class="pe-2">TikTok:</strong><a
            href="https://www.tiktok.com/@titooliveir?_t=ZM-8xQbGh02CfA&_r=1">Tito Magazine Oficial</a></p>
      </div>

      <!-- Menu de Rodapé -->
      <div class="col-12 col-md-3 mb-4">
        <h5 class="fw-bold">MENU DE RODAPÉ</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white-50 text-decoration-none">Rastrear Pedido</a></li>
          <li><a href="#" class="text-white-50 text-decoration-none">Entrar em contato</a></li>
          <li><a href="#" class="text-white-50 text-decoration-none">Perguntas Frequentes</a></li>
          <li><a href="#" class="text-white-50 text-decoration-none">Política de Privacidade</a></li>
          <li><a href="#" class="text-white-50 text-decoration-none">Termos de Uso e Condições</a></li>
        </ul>
      </div>

      <!-- Menu Principal -->
      <div class="col-12 col-md-3 mb-4">
        <h5 class="fw-bold">MENU PRINCIPAL</h5>
        <ul class="list-unstyled">
          <li><a [routerLink]="['/produtos', 'Masculinas']" class="text-white-50 text-decoration-none">Masculinas</a>
          </li>
          <li><a [routerLink]="['/produtos', 'Femininas']" class="text-white-50 text-decoration-none">Femininas</a></li>
          <li><a [routerLink]="['/produtos', 'Tênis']" class="text-white-50 text-decoration-none">Tênis</a></li>
          <li><a [routerLink]="['/produtos', 'NBA']" class="text-white-50 text-decoration-none">NBA</a></li>
          <li><a [routerLink]="['/produtos', 'Versões Torcedor']" class="text-white-50 text-decoration-none">Versões
              Torcedor</a></li>
          <li><a [routerLink]="['/produtos', 'Versões Jogador']" class="text-white-50 text-decoration-none">Versões
              Jogador</a></li>
          <li><a [routerLink]="['/produtos', 'Retrô']" class="text-white-50 text-decoration-none">Retrôs</a></li>
          <li><a [routerLink]="['/produtos', 'Kit Infantil']" class="text-white-50 text-decoration-none">Kit
              Infantil</a></li>
        </ul>
      </div>

      <!-- Newsletter -->
      <div class="col-12 col-md-3 mb-4">
        <h5 class="fw-bold">NOSSA NEWSLETTER</h5>
        <p class="text-white-50">
          Assine nossa newsletter e receba as melhores ofertas
          <strong class="text-white">DE GRAÇA!</strong>
        </p>

        <form class="newsletter-form" (ngSubmit)="inscreverNewsletter()" #newsletterForm="ngForm">
          <input type="email" name="email" class="form-control mb-2" placeholder="Seu e-mail" required
            [(ngModel)]="email" />
          <button type="submit" class="btn btn-primary w-100" [disabled]="!newsletterForm.form.valid">
            Enviar
          </button>
        </form>

        <p *ngIf="mensagem" class="mt-2 text-white">{{ mensagem }}</p>
      </div>


    </div>

    <hr class="border-secondary my-4">

    <!-- Aviso -->
    <div class="text-center">
      <p class="text-white-50 small">
        Preços e condições de pagamento exclusivos para compras neste site oficial, podendo variar com o tempo da
        oferta.
        <strong class="text-warning">Não nos responsabilizamos por quaisquer problemas.</strong>
      </p>
    </div>

    <!-- Pagamento -->
    <div class="text-center my-3">
      <span class="text-white-50">Formas de pagamento:</span><br>
      <img src="assets/formas-pagamento.png" alt="Formas de pagamento" class="img-fluid" style="max-width: 270px;">
    </div>

    <!-- Direitos -->
    <div class="text-center mt-3">
      <p class="text-white-50 small">© TITO MAGAZINE | Desenvolvido por DA Tech 💜</p>
    </div>
  </div>
</footer>