.corIcon{
    color:black;
    font-size: 18px;
}

.btn-dark:hover {
    background-color: #284998 !important;
    border-color: #284998 !important;
}

.btn-light:hover{
    background-color: #91c5e5 !important;
    border-color: #91c5e5 !important;
}

.logo-mobile {
  height: 40px;
}

.input-group input::placeholder {
  font-size: 0.9rem;
  color: #6c757d;
}

.input-group {
  overflow: hidden;
}
