div.popover.fade.show.bs-popover-bottom {
  width: 300px;
  max-width: 90vw;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
  padding: 1rem;
  transition: opacity 0.3s ease-in-out;
}

.btn-dark:hover {
  background-color: #284998 !important;
  border-color: #284998 !important;
}

.btn-light:hover{
  background-color: #91c5e5 !important;
  border-color: #91c5e5 !important;
}

.popover-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1049; 
  backdrop-filter: blur(2px); 
}

