.zoom-container {
    overflow: hidden;
    position: relative;
  }
  
  .main-img {
    transition: transform 0.3s ease;
  }
  
  .zoom-container:hover .main-img {
    transform: scale(1.5);
    cursor: zoom-in;
  }

  .iconColor{
    color: #32c6d1
  }
  