.zoom-container {
    overflow: hidden;
    position: relative;
  }
  
  .main-img {
    transition: transform 0.3s ease;
  }
  
  .zoom-container:hover .main-img {
    transform: scale(1.5);
    cursor: zoom-in;
  }

  .iconColor{
    color: #32c6d1
  }

  .btn-success{
    background-color: #00D864;
    font-family: sans-serif;
    border-color: #00D864;
  }

  .btn-success:hover{
    background-color: #39f591;
  }

  .btn-outline-success{
    border-color: #00D864;
    color: #00D864;
    font-family: sans-serif;
  }

  .btn-outline-success:hover{
    background-color: #00D864;
    border-color: #00D864;
    color: white;
  }

  .card p {
  line-height: 1.6;
}

.card span.fw-bold {
  display: block;
  margin-bottom: 4px;
}

.image-wrapper ::ng-deep .ngx-image-zoom-lens {
  border-radius: 50% !important;
  overflow: hidden;
  border: 2px solid #ccc;
}

/* Limita o tamanho da imagem principal dentro do card */
.image-wrapper ::ng-deep .ngx-image-zoom-lens {
  border-radius: 50% !important;
  overflow: hidden !important;
  border: 2px solid #ccc;
  width: 150px !important;
  height: 150px !important;
}

.image-wrapper lib-ngx-image-zoom {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .image-wrapper lib-ngx-image-zoom {
    display: none;
  }

  .image-wrapper img {
    display: block;
    width: 100%;
  }
}

/* Estiliza miniaturas */
.thumb {
  width: 60px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 6px;
  transition: border 0.2s;
}

.thumb:hover {
  border: 2px solid #007bff;
}

/* Evita overflow lateral das miniaturas */
.thumbnails {
  max-height: 400px;
  overflow-y: auto;
}


  